.logo {
    font-size: 1.5rem;
}

.logo b {
    position: absolute;
    margin-top: 2rem;
}


.mainbox {
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 1rem 3rem;
    top: 0;
    align-items: center;
    z-index: 9999;
    background-color: white;

}

.middlebox {
    border-radius: 2rem;
    display: flex;
    gap: 1.2rem;
    border: 1px solid;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 1px 1px 1px 1px;
    cursor: pointer;
    margin-bottom: 5vh;
    cursor: pointer;

}

.search {

    background-color: rgb(236, 34, 34);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;

}

.middleweek {

    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.middleweeks {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0.5rem 1rem;
    cursor: pointer;

}

.rightbox {
    background-color: rgb(215, 215, 243);
    border-radius: 3rem;
    width: 10rem;
    cursor: pointer;


}

.rightbar {
    padding-left: 0.5rem;
    cursor: pointer;

}

.rightuser {
    padding-left: 1rem;
    padding-right: 0.5rem;
    cursor: pointer;

}

.yourhome {
    margin-right: 4rem;
    font-weight: 600;
    border-radius: 4rem;
    cursor: pointer;

}

.yourhome:hover {
    background-color: lightgrey;
}

.earth {
    margin-right: 2rem;
    border-radius: 6rem;
    cursor: pointer;

}

.earth:hover {
    background-color: lightgrey;
}

.userbox {
    height: 30vh;
    width: 15vw;
    margin-left: 2rem;
    position: absolute;
    background-color: rgb(237, 248, 247);
    border-radius: 2rem;
    z-index: 9999;
    top: 12rem;
    box-shadow: 0px 0px 10px 2px;

}

.userbox1 {
    font-weight: 1rem;
    margin-left: 2rem;
    cursor: pointer;

}

.userbox1 p:hover {
    background-color: white;
}

.dialog {
    height: 90vh;
    width: 60vw;
    border-radius: 2rem;
    position: absolute;
    box-shadow: 0px 0px 10px 2px;
    background-color: white;
    right: 50vh;

}